name: postgres-collation-stack
services:
  pg-collation-fix:
    image: postgres:18@sha256:5773fe724c49c42a7a9ca70202e11e1dff21fb7235b335a73f39297d200b73a2
    restart: "no"
    environment:
      PGUSER: ${POSTGRES_USER}
      PGPASSWORD: ${POSTGRES_PASSWORD}
      PGDATABASE: postgres
      PGHOST: 192.168.50.2
      PGPORT: 5434
    volumes:
      - ./fix_collation.sh:/usr/local/bin/fix_collation.sh:ro
    entrypoint: ["/bin/sh","-lc"]
    command: ["/usr/local/bin/fix_collation.sh"]
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "5"