name: trino-stack
services:
  trino-coordinator:
    hostname: trino-coordinator
    image: trinodb/trino:478@sha256:177bda76e5e6caf235de4502e10020a029d06dd2625709fbf5adf264b6295a1d
    container_name: trino-coordinator
    restart: unless-stopped
    ports:
      - '8080:8080'
    dns:
      - 192.168.50.4
    volumes:
      - /home/admin/trino/coordinator/etc/trino:/etc/trino
      - /home/admin/trino/catalog_configuration:/etc/trino/catalog
      - /home/admin/trino/shared:/etc/trino/conf
    deploy:
      resources:
        limits:
          cpus: "2"
          memory: 2G
    # command: sleep infinity

  trino-worker:
    image: trinodb/trino:478@sha256:177bda76e5e6caf235de4502e10020a029d06dd2625709fbf5adf264b6295a1d
    restart: unless-stopped
    volumes:
      - /home/admin/trino/worker/etc/trino:/etc/trino
      - /home/admin/trino/catalog_configuration:/etc/trino/catalog
      - /home/admin/trino/shared:/etc/trino/conf
    dns:
      - 192.168.50.4
    deploy:
      mode: replicated
      replicas: 2
      resources:
        limits:
          cpus: "2"
          memory: 3G
